<html>

<head>
  <title>Patient {{ p_id }}</title>
</head>

<link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet" />

<style>
  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  th,
  td {
    padding: 5px;
    text-align: center;
  }

  th {
    background-color: powderblue;
  }

  div.container1 {
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 25px;
    margin-top: 50px;
  }

  div.container2 {
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 25px;
  }

  p {
    text-align: center;
  }

  hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }
</style>

<body>

  <br>

  <form action="http://127.0.0.1:5000/dashboard" method="get">
    <button class="w3-button w3-black" type="submit" style="cursor:pointer;margin:auto;display:block">
      Back to Dashboard
    </button>
  </form>

  <br>
  <div class="container1 w3-animate-opacity" style="width:60%;float:left;padding:20px;">
    <h3 align="center">
      <strong>
        Patient Information:
      </strong>
    </h3>
    <table id="patientInfoTab" align="center">
      <thead>
        <tr>
          {% for col in colNames %}
          <th>{{ col[0] }}</th>
          {% endfor %}
        </tr>
      </thead>

      <tbody>
        <tr>
          {% for col in colNames %}
          <td> {{ row_info[col[1]] }} </td>
          {% endfor %}
        </tr>
      </tbody>
    </table>

    <br><br>

    <h3 align="center">
      <strong>
        Last Recorded Symptom Levels [0-10]:
      </strong>
    </h3>
    <table id="patientSympTab" align="center">
      <thead>
        <tr>
          {% for col in colNamesSymp %}
          <th>{{ col[0] }}</th>
          {% endfor %}
        </tr>
      </thead>

      <tbody>
        <tr>
          {% for col in colNamesSymp %}
          <td> {{ row_symp[col[1]] }} </td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>

  <div class="container2 w3-animate-opacity" style="width:35%;float:right;padding:10px;">
    <h3 align="center">
      <strong>
        Recorded Weights:
      </strong>
    </h3>
    <p>
      <img src="/weights_plot.png" width="75%">
    </p>
  </div>

  <div class="w3-container" align="center">
    <br><br>
    <hr>
    <p>
      <h3 align="center">
        <strong>
          Information per Treatment Day:
        </strong>
      </h3>
    </p>
    {% for pair in t_keys %}
    <button class="w3-button demo" onclick="currentSet({{ pair[0] }})">{{ pair[0] }}</button>
    {% endfor %}
  </div>
  <p>
    Slice <b id="pageNum"></b> / <b id="pageNumTot"></b>
  </p>

  {% for pair in t_keys %}
  <span class="imageSet w3-animate-opacity">
    <table align="center" width="98%">
      <tr>
        <th></th>
        <th>CT</th>
        <th>CT with contours</th>
        <th>RT dose</th>
        <th></th>
      </tr>
      <tr>
        <td>
          <button class="w3-button w3-black" onclick="plusDivs(-1)">&#10094;</button>
        </td>

        <td>
          {% for item in row_imag['ct_path'][pair[1]] %}
          <img class="CTSlides{{ pair[0] }}" src="{{ item }}" style="width:100%">
          {% endfor %}
        </td>

        <td>
          {% for item in row_imag['ctcont_path'][pair[1]] %}
          <img class="CTstructSlides{{ pair[0] }}" src="{{ item }}" style="width:100%">
          {% endfor %}
        </td>

        <td>
          {% for item in row_imag['rt_path'][pair[1]] %}
          <img class="RTdoseSlides{{ pair[0] }}" src="{{ item }}" style="width:100%">
          {% endfor %}
        </td>

        <td>
          <button class="w3-button w3-black" onclick="plusDivs(1)">&#10095;</button>
        </td>

      </tr>
    </table>
  </span>
  {% endfor %}


  <script>
    var setIndex = 1;
    var slideIndex = 1;

    let slide_classes = ['CTSlides', 'CTstructSlides', 'RTdoseSlides'];

    showSet(setIndex);
    showDivs(slideIndex);

    function plusDivs(n) {
      showDivs(slideIndex += n);
    }

    function showDivs(n) {
      var i;
      var x;
      for (const className of slide_classes) {
        x = document.getElementsByClassName(className + setIndex.toString());
        if (n > x.length) {
          slideIndex = 1
        }
        if (n < 1) {
          slideIndex = x.length
        }
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";
        }
        x[slideIndex - 1].style.display = "block";
      }
      document.getElementById("pageNum").innerHTML = slideIndex;
      document.getElementById("pageNumTot").innerHTML = x.length;
    }

    function currentSet(n) {
      showSet(setIndex = n);
    }

    function showSet(n) {
      var i;
      var x = document.getElementsByClassName("imageSet");
      var dots = document.getElementsByClassName("demo");
      // hide all imageSet class
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      // clear color for all buttons
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" w3-black", "");
      }

      x[setIndex - 1].style.display = "block";
      dots[setIndex - 1].className += " w3-black";
      slideIndex = 1;
      showDivs(slideIndex);
    }
  </script>

  <br><br>

  <form action="http://127.0.0.1:5000/dashboard" method="get">
    <button class="w3-button w3-black" type="submit" style="cursor:pointer;margin:auto;display:block">
      Back to Dashboard
    </button>
  </form>

</body>

</html>
