<html>

<head>
  <title>Submitted Form</title>
</head>

<body>
  <br><br>
  <h1 align="center">The following data was submitted:<h1>

      <h2 align="center">
        Weight: {{p_weight}} kg
        <br>
        Nausea level: {{p_nausea}}
        <br>
        Skin irritation level: {{p_skinirr}}
        <br>
        Difficulty swallowing: {{p_diffswall}}
        <br>
        Difficulty breathing: {{p_diffbreath}}
        <br> <br>
      </h2>

      <h2 align="center">Thank you for submitting your symptoms information!</h2>

      <br><br>
      <button onclick="window.location.href = 'https://www.youtube.com/watch?v=dQw4w9WgXcQ';" style="cursor:pointer;margin:auto;display:block">
        Exit
      </button>


</body>

</html>
